
.Traffic-Light{
    background-color: black;
    padding: 10PX;
    display: inline-block;
    margin: auto;
}

.light{
    
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.red{background-color: red;}
.yellow{background-color: yellow;}
.green{background-color: green;}
.glow{
    box-shadow: 0 0 9px 4px #747DE8
}